{% extends 'base.html.twig' %}

{% block body %}
    Any html
    <ul>
        <li><a href="{{ path('cats') }}">cats</a></li>
        <li><a href="{{ path('cats-external') }}">cats external</a></li>
        <li><a href="{{ path('json') }}">json</a></li>
        <li><a href="{{ path('sale-list') }}">List of sales from the database</a></li>
    </ul>
{% endblock %}

{% block stylesheets %}

{% endblock %}
